@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-family: var(--font-roboto), system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", san;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: #f3f2ee;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
